<div class=" marketing">
  <form class="form" method="GET" >
    <h4 class="with-seperator">Add Movie</h4>
    <div class="form-group row">
      <label for="movieName" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="movieName" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="releaseYear" class="col-sm-3 control-label">Year of Release</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="releaseYear" placeholder="[Month, Year] or [Year] e.g. Jan, 2016 or 2016">
      </div>
    </div>

    <div class="form-group row">
      <label for="generes" class="col-sm-3 control-label">Genere(s)</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="generes" placeholder="Genere(s)">
        <small class="text-muted">Seperate multiple generes by commas</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="duration" class="col-sm-3 control-label">Duration</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="duration" placeholder="Duration (in Min)">
      </div>
    </div>

    <div class="form-group row">
      <label for="directors" class="col-sm-3 control-label">Director(s)</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="directors" placeholder="Director(s)">
        <small class="text-muted">Seperate multiple names by commas</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="stars" class="col-sm-3 control-label">Stars</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="stars" placeholder="Stars">
        <small class="text-muted">Seperate multiple names by commas</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="imdbUrl" class="col-sm-3 control-label">IMDB URL</label>
      <div class="col-sm-9">
        <input type="url" class="form-control" id="imdbUrl" placeholder="IMDB URL of movie">
      </div>
    </div>
  </form>
</div>
